/* CONTAINER */
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 345rem;
    max-width: 100%;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    width: 97%;
    height: 100%;
    background-color: #303030;
    border-radius: 1.5rem;
    margin-top: 1rem;
    position: relative;
    z-index: 0;
}

.retangulo {
    max-width: 100%;
    border: solid 2px #ff0000;
    width: 90%;
    height: 22.065rem;
    display: flex;
    justify-content: center;
}

.retangulos {
    margin-top: 10px;
    width: 27.5rem;
    height: 16.57rem;
}

