/* === MOBILE === */
@media (min-width: 400px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 768px;
    }

    /* Menu */

    nav {
        position: fixed;
        z-index: 9999;
        box-shadow: #000 0 3px 10px 2px;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 65px;
        right: 10px;
        background: #FFA600;
        box-shadow: #000000 0 5px 15px;
        padding: 1rem;
        border-radius: 8px;
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
        transition: all 0.3s ease;
        z-index: 100;
    }

    nav ul.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    nav a {
        color: #ffffff;
        text-decoration: none;
    }

    /* Home */

    .hero {
        margin-top: 75px;
        display: flex;
        justify-content: center;
        background-color: #706c5f;
        width: 25rem;
        height: 22.065rem;
        border-radius: 20px 20px 0 0;
    }

    .retangulos {
        top: 20px;
    }

    .letraT {
        width: 119px;
        height: auto;
        top: 220px;
        right: 250px;
        position: absolute;
        z-index: 2;
    }

    .typewrite {
        top: 157px;
        right: 25px;
        font-size: 36px;
        color: #fff;
        overflow: hidden;
        font-family: 'Courier New', Courier, monospace;
        animation: typing 3s steps(12, end) forwards;
        animation-delay: 2s;
        white-space: nowrap;
        width: 0;
        position: absolute;
        z-index: 2;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 12ch;
        }
    }

    .foldercv {
        width: 102px;
        height: auto;
        top: 241.5px;
        right: 40px;
        position: absolute;
        z-index: 2;
    }

    .arrow {
        width: 2.5rem;
        height: auto;
        top: 19.2rem;
        right: 3rem;
        transform: translate(-50%, -50%);
        transform-origin: bottom center;
        animation: clickArrow 1.5s ease-in-out infinite;
        position: absolute;
        z-index: 4;
    }

    @keyframes clickArrow {

        0%,
        100% {
            transform: translate(-50%, -50%) scale(1)
        }

        50% {
            transform: translate(-50%, -40%) scale(0.92)
        }
    }

    /* Sobre Mim */

    .about {
        background-color: #706c5f;
        width: 25rem;
        height: 970px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 410px;
        height: 134px;
    }

    .about-title,
    h2 {
        text-align: center;
        font-family: 'Alice';
        font-size: 81px;
        font-weight: 100;
        color: #ffa600;
        line-height: 60px;
    }

    .about-img-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 410px;
        height: 353px;
    }

    .tools {
        width: auto;
        height: 328px;
    }

    .aboutImg {
        width: auto;
        height: 328px;
    }

    .about-description-desktop {
        display: none;
    }

    .about-description-mobile {
        display: flex;
        justify-content: center;
        width: 410px;
        height: 477px;
    }

    .about-description-mobile,
    h1 {
        font-size: 18px;
        line-height: 133%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
    }

    /* Bem Vindo */

    .bemVindo-desktop {
        display: none;
    }

    .bemVindo-mobile {
        background-color: #706C5F;
        width: 25rem;
        height: 730px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }

    .l1-mobile,
    h3 {
        color: #000000;
        font-family: 'Alfa Slab One', cursive;
        font-size: 143px;
        line-height: 120px;
    }

    .l2-mobile,
    h3 {
        color: #000000;
        font-family: 'Alfa Slab One', cursive;
        font-size: 96px;
        line-height: 84.5px;
    }

    .l3-mobile,
    h3 {
        color: #000000;
        font-family: 'Alfa Slab One', cursive;
        font-size: 81px;
        line-height: 73px;
    }

    .l4-mobile,
    h3 {
        color: #ffa600;
        font-family: 'Alfa Slab One', cursive;
        font-size: 105px;
        line-height: 100px;
    }

    .l5-mobile,
    h3 {
        color: #ffa600;
        font-family: 'Alfa Slab One', cursive;
        font-size: 105px;
        line-height: 120px;
    }

    .l6-mobile,
    h3 {
        color: #000000;
        font-family: 'Alfa Slab One', cursive;
        font-size: 240px;
        line-height: 190px;
    }

    /* Meus Projetos */

    .meusProjetos {
        background-color: #706C5F;
        width: 25rem;
        height: 275px;
    }

    .idenVisual {
        width: 100%;
        height: auto;
    }

    .projetosWeb {
        background-color: #706C5F;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25rem;
        height: 894px;
    }

    .projetosWeb h1 {
        color: #FFA600;
        font-family: 'Alice', cursive;
        text-align: center;
        font-size: 64px;
        line-height: 60px;
        font-weight: 600;
    }

    .notebook {
        width: 379px;
        height: 712px;
    }

    .logos {
        background-color: #706C5F;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25rem;
        height: 580px;
    }

    .logos h1 {
        color: #FFA600;
        font-family: 'Alice', cursive;
        text-align: center;
        font-size: 64px;
        line-height: 60px;
        font-weight: 600;
    }

    #mobile {
        background-color: #706C5F;
        width: 25rem;
        height: 868px;
    }

    .projetosMobile {
        background-color: #ffa200;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 25rem;
        height: 868px;
    }

    .projetosMobile h1 {
        color: #000000;
        font-family: 'Alice', cursive;
        text-align: center;
        font-size: 64px;
        line-height: 60px;
        font-weight: 600;
    }

    /* Contato */

    #contacts {
        background-color: #706C5F;
        border-radius: 0 0 20px 20px;
        width: 25rem;
        height: 410px;
    }

    .contactDescription {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 440px;
    }

    .description1 h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        line-height: 20px;
        font-weight: 600;
        top: 60px;
        left: 10px;
        z-index: 1;
    }

    .destaque {
        color: #000000;
    }

    .paint {
        width: 38px;
        height: 38px;
        top: 5px;
        left: -15px;
        position: absolute;
        z-index: 3;
    }

    .box-yellow {
        background-color: #ffa600;
        border: solid 1px #000;
        border-style: dashed;
        top: 25px;
        left: 5px;
        width: 147px;
        height: 104px;
        position: absolute;
        z-index: 0;
    }

    .entreEmContato {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 205px;
    }

    .entreEmContato h1 {
        top: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 56px;
        font-weight: 700;
        text-align: center;
        color: #FFA600;
        line-height: 65px;
    }

    .vetor {
        top: 80px;
        left: -35px;
        width: 360px;
        height: 78px;
        position: absolute;
        z-index: 1;
    }
}


/* === DESKTOP === */
@media (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1980px;
    }

    /* Home */

    .hero {
        width: 113.5rem;
        height: 55.56rem;
        margin-top: 75px;
        display: flex;
        justify-content: center;
        background-color: #706c5f;
        border-radius: 20px 20px 0 0;
    }

    .retangulos {
        top: 20px;
    }

    .letraT {
        width: 250px;
        height: auto;
        top: 632px;
        right: 970px;
        position: absolute;
        z-index: 2;
    }

    .typewrite {
        top: 455px;
        right: 220px;
        font-size: 115px;
        color: #fff;
        overflow: hidden;
        font-family: 'Courier New', Courier, monospace;
        animation: typing 3s steps(12, end) forwards;
        animation-delay: 2s;
        white-space: nowrap;
        width: 0;
        position: absolute;
        z-index: 2;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 12ch;
        }
    }

    .foldercv {
        width: 185px;
        height: 140px;
        top: 693px;
        right: 183px;
        position: absolute;
        z-index: 2;
    }

    .foldercv:hover {
        transform: scale(1.3);
    }

    .arrow {
        width: 74px;
        height: 102px;
        top: 820px;
        right: 150px;
        transform: translate(-50%, -50%);
        transform-origin: bottom center;
        animation: clickArrow 1.5s ease-in-out infinite;
        position: absolute;
        z-index: 4;
    }

    @keyframes clickArrow {

        0%,
        100% {
            transform: translate(-50%, -50%) scale(1)
        }

        50% {
            transform: translate(-50%, -40%) scale(0.92)
        }
    }

    /* Sobre Mim */

    .about {
        background-color: #706c5f;
        width: 113.5rem;
        height: 1005px;
        display: flex;
        flex-direction: row;
    }

    .about-title {
        left: 860px;
        margin-top: 8.5rem;
    }

    .about-title,
    h2 {
        font-family: 'Alice';
        text-align: left;
        font-size: 140px;
        font-weight: 100;
        color: #ffa600;
        line-height: 110px;
    }

    .about-img-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .tools {
        display: none;
    }

    .aboutImg {
        top: 320px;
        right: 230px;
        width: 650px;
        height: auto;
    }

    .about-description-mobile {
        display: none;
    }

    .about-description-desktop {
        display: flex;
        right: 135px;
        width: 830px;
        height: auto;
        top: 20rem;
    }

    .about-description-desktop,
    h1 {
        font-size: 30px;
        line-height: 145%;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Bem Vindo */
    .bemVindo-mobile {
        display: none;
    }

    .bemVindo-desktop {
        background-color: #706C5F;
        width: 113.5rem;
        height: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bemVindo-desktop p {
        color: #000;
        font-family: 'Alfa Slab One', cursive;
        font-size: 237px;
        text-align: center;
        font-size: 237px;
        padding: 25px;
    }

    .l3-desktop {
        color: #ffa600;
    }

    /* Meus Projetos */

    .meusProjetos {
        padding: 25px 0;
        background-color: #706C5F;
        width: 113.5rem;
        height: auto;
        border-radius: 0;
    }

    .idenVisual {
        width: 100%;
        height: auto;
    }

    .projetosWeb {
        background-color: #706C5F;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 113.5rem;
        height: 1400px;
    }

    .projetosWeb h1 {
        color: #FFA600;
        font-family: 'Alice', cursive;
        text-align: center;
        font-size: 160px;
        line-height: 150px;
        font-weight: 600;
    }

    .note {
        width: 1700px;
        height: auto
    }

    .logos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 0 0 0;
        background-color: #706C5F;
        width: 113.5rem;
        height: auto;
    }

    .logos h1 {
        color: #FFA600;
        font-family: 'Alice', cursive;
        text-align: center;
        font-size: 160px;
        line-height: 100px;
        font-weight: 600;
    }

    .boxLogo {
        width: 120rem;
        height: auto;
    }

    #mobile {
        background-color: #706C5F;
        width: 113.5rem;
        height: auto;
    }

    .projetosMobile {
        background-color: #ffa200;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
        padding: 0 0 25px 0;
    }

    .projetosMobile h1 {
        color: #000000;
        font-family: 'Alice', cursive;
        text-align: center;
        font-size: 160px;
        font-weight: 600;
        line-height: 150px;
        padding: 20px 0 55px 0;
    }

    .phone {
        width: 1595px;
        height: auto;
    }

    /* Contato */

    #contacts {
        background-color: #706C5F;
        border-radius: 0 0 20px 20px;
        width: 113.5rem;
        height: auto;
    }

    .contactDescription {
        width: 100%;
        height: auto;
    }

    .description1 {
        width: 100%;
        height: 880px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description1 h1 {
        top: 320px;
        font-size: 150px;
        line-height: 70px;
    }

    .paint {
        width: 163px;
        height: 164px;
        top: 60px;
        left: 50px;
    }

    .box-yellow {
        width: 625px;
        height: 420px;
        background-color: #ffa600;
        border: solid 5px #000;
        border-style: dashed;
        top: 145px;
        left: 140px;
    }

    .description2 {
        width: 100%;
        height: 458px;
    }

    .description2 h1 {
        font-size: 142px;
        line-height: 150px;
    }

    .vetor {
        top: 110px;
        left: 450px;
        width: 931px;
        height: auto;
    }


    /* footer */

    footer {}
}