/* NAVBAR */
nav {
    background: #FFA600;
    width: 97%;
    height: 4rem;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 10rem;
    color: #ffffff;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 0.9375rem;
}

.ns-design {
    width: 3rem !important;
    height: 3rem !important;
    object-fit: contain;
    border: none;
}

/* Ícone hambúrguer */
.menu-icon {
    right: 1rem;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.menu-icon span {
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu-icon span:nth-child(1) {
    top: 0;
}

.menu-icon span:nth-child(2) {
    top: 8px;
}

.menu-icon span:nth-child(3) {
    top: 16px;
}

/* Animação do hambúrguer → X */
.menu-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
}

.menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.menu-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 8px;
}